Django
Pillow
gunicorn
whitenoise
requests
psycopg2-binary # Driver para PostgreSQL
dj-database-url # Facilita a leitura da variavel DATABASE_URL
# Adicionar S3
django-storages
boto3
# Adicione outros pacotes do seu projeto que você usa (ex:
# django-debug-toolbar
# python-decouple
# etc.)
